.container {
    height: 285px;
    overflow-y: scroll;
}

button{
    background-color: #f48324;
    border:#f48324;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Calibri",sans-serif;
}
button:hover{
    background-color: #df5308
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #df5308;
}