textarea{
    width: 45em;
    height: 15em;
    border: 1px solid #cccccc;
    resize:vertical; max-height:100px; min-height:130px;
    padding: 0.5em;
    font-family: Calibri, sans-serif;
}
button{
    background-color: #f48324;
    border:#f48324;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Calibri",sans-serif;
}
button:hover{
    background-color: #df5308
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #df5308;
}