<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/login.css'/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">



    <title>Login</title>
    <style>
        button{
            background-color: #f48324;
            border:none;
            font-size: 15px;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title" style="font-size: 35px">Login</span>

            <h2>Welcome to eManager</h2>
            <h4><a th:href="@{/admin/login}">Admin Login</a></h4>
            <p/>
            <h4><a th:href="@{/user/login}">User Login</a></h4>
        </div>

    </div>
</div>


</body>
</html>

