<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/kalender.css'/>
    <link rel="stylesheet" href='/homepageAdmin.css'/>
    <link rel="stylesheet" href='/navbar.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<style>
    footer{
        position: -ms-device-fixed;
        bottom: 0; left: 0; right: 0;
        background: #111;
        height: auto;
        width: 100%;
        padding-top: 40px;
        color: #fff;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        bottom: 0;
        float: left;
        width: 100%;
        height: 100px; /* Height of the footer */
        background: #111;
        margin-top: auto;
        clear: both;
    }
    .container {
        height: 255px;
        overflow-y: scroll;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
    .toggle {
        background-color: #f48324;
        width: 30px;
        height: 5px;
        margin: 5px;
        display: block;
    }
    tr:nth-child(even){background-color: #f2f2f2}

</style>
<body>
<div align="center" style="background-color: #f48324">
    <h1 style="color: white">eManager - Admin</h1>
    <h2 style="color: white">Kalender & Termine</h2>
    <br>
    <br>
</div>

<header>
    <nav class="navbar">
        <a href="#" class="brand">eManager</a>
        <label for="toggle" class="toggle-container">
            <span class="toggle"></span>
            <span class="toggle"></span>
            <span class="toggle"></span>
        </label>
        <input type="checkbox" id="toggle">
        <ul class="menu">
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/userverwaltung}">Mitarbeiter verwalten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/wochenzettel}">Wochenzettel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/kalender}"><b>Kalender & Termine</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/passwortaendernadmin}">Passwort ändern</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/baustelle}">Baustellenverwaltung</a>
            </li>
        </ul>
    </nav>
</header>


<div style="box-shadow: 0 5px #ffffff; border-radius: 10px;" align="center">
    <h3 align="center">Terminüberblick</h3>

    <br>
    <div style="width:70%;height:330px;border:1px solid #000; border-radius: 10px">
        <p>Kalender & Termine</p>
        <a th:href = "@{/admin/terminErstellen}">
            <button type="button" class="button" style="padding: 1px 10px 1px; font-size: 17px">Termin erstellen</button></a>
        <br><br>
        <div style="overflow-x:auto; height: 220px" class="container">
            <table>
                <!--rules=rows; rules=cols-->
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Beginn</th>
                    <th scope="col">Ende</th>
                    <th scope="col">Betrifft</th>
                    <th scope="col">Löschen</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="Termin : ${listTermine} ">
                    <tr>
                        <td align=center>[[${Termin.beschreibung}]]</td>
                        <td align=center>[[${Termin.datum}]]</td>
                        <td align=center>[[${Termin.beginn}]]</td>
                        <td align=center>[[${Termin.ende}]]</td>
                        <td align=center>[[${Termin.betrifft}]]</td>
                        <td align="center"> <a th:href="@{/admin/deletetermin/{id}(id=${Termin.id})}">
                            <button type="button" class="button" style="padding: 1px 10px 1px; font-size: 17px">Delete</button></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br>
            <br>
            <!-- Kalender -->
            <button id="previousWeek"><</button>
            <button id="nextWeek">></button>
            <br>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>Montag</th>
                        <th>Dienstag</th>
                        <th>Mittwoch</th>
                        <th>Donnerstag</th>
                        <th>Freitag</th>
                        <th>Samstag</th>
                        <th>Sonntag</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:block th:each="day:${weekDays}">
                            <div th:each="Termin : ${listTermine}"  th:if="${temporals.isWithinWeek(Termin.datum, day)}">
                                <div th:text="${Termin.beschreibung}"></div>
                                <div th:text="${Termin.beginn}"></div>
                                <div th:text="${Termin.betrifft}"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <script src="/static/js/kalender.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
        </div>
    </div>
</div>
<br>
<footer class="footer">
    <div class="footer-content">
        <h4>eManager - Mitarbeiterverwaltungssystem</h4>
        <br>
    </div>
</footer>
<script>
    // Add event listener for "Letzte Woche" button
    document.getElementById("previousWeek").addEventListener("click", function() {
        // TODO: Add code to change displayed week to previous week
    });
    // Add event listener for "Nächste Woche" button
    document.getElementById("nextWeek").addEventListener("click", function() {
        // TODO: Add code to change displayed week to next week
    });
</script>
</body>
</html>