<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mitarbeiter hinzufügen</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/homepageUser.css'/>
</head>
<style>
  footer{
    position: -ms-device-fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
</style>

<body>
<div align="center" style="background-color: #f48324">
  <h1 style="color: white">eManager</h1>
  <h2 style="color: white">Mitarbeiter hinzufügen</h2>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/userverwaltung}"><b>Mitarbeiter verwalten</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/wochenzettel}">Wochenzettel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/kalender}">Urlaub & Kalender</a>
      </li>
    </ul>
  </div>
</nav>
<div style="box-shadow: 0 5px #ffffff; border-radius: 10px;" align="center">
  <h3 align="center">Bearbeiten</h3>
  <br>
  <div style="width:90%;height:330px;border:1px solid #000; border-radius: 5px">
    <u>Legen Sie einen neuen User an!</u>
    <br>
    <br>
    <form action="#" th:action="@{/admin/saveUser}" th:object="${user}"
          method="POST">

      <!--<input type="text" th:field="*{id}"
             placeholder="User  id" class="form-control mb-4 col-4" required minlength="1" maxlength="30"-->

      <p>Namen eingeben: <input type="text" th:field="*{username}"
                                placeholder="User Name" class="form-control mb-4 col-4" required minlength="2" maxlength="30"> </p>
      <br>

      <p>Passwort eingeben: <input type="text" th:field="*{password}"
                                   placeholder="User Password" class="form-control mb-4 col-4" required minlength="2" maxlength="45"> </p>
      <br>

      <p>Rolle auswählen: <select th:field="*{role}">
        <option th:value="'USER'" th:text="USER"></option>
        <option th:value="'ADMIN'" th:text="ADMIN"></option>
      </select> </p>
      <br>

      <button type="submit" class="btn btn primary">Save</button>
    </form>
  </div>
  <br>
</div>

<footer class="footer">
  <div class="footer-content">
    <h4>eManager - Mitarbeiterverwaltungssystem</h4>
    <br>
  </div>
</footer>
</body>
</html>

