<!DOCTYPE html>
<html lang="en">
<head>
    <title>Termin eintragen</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/homepageUser.css'/>
</head>
<style>
    footer{
        position: -ms-device-fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100vw;

        padding-top: 40px;
        color: #fff;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    html, body {
        height: 100%;
        margin: 0;
    }
</style>

<body>
<div align="center" style="background-color: #f48324">
    <h1 style="color: white">eManager - ADMIN</h1>
    <h2 style="color: white">Urlaub & Kalender</h2>
    <br>
    <br>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/userverwaltung}">Mitarbeiter verwalten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/wochenzettel}">Wochenzettel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href = "@{/admin/kalender}"><b>Urlaub & Kalender</b></a>
            </li>
        </ul>
    </div>
</nav>

<div style="box-shadow: 0 5px #ffffff; border-radius: 10px;" align="center">
    <h3 align="center">Termin eintragen</h3>
    <br>
    <div style="width:90%;height:330px;border:1px solid #000; border-radius: 5px">
        <form action="#" th:action="@{/admin/saveTermin}" th:object="${termin}"
              method="POST">

             <p>Beschreibung: <input type="text"  th:field="*{beschreibung}"
                     placeholder="Beschreibung" class="form-control mb-4 col-4" required minlength="1" > </p>
            <br>

            <p>Datum: <input type="date"  th:field="*{datum}"
                   placeholder="Datum" class="form-control mb-4 col-4" required minlength="1"> </p>
            &nbsp;


            <p>Beginn-Ende: <input type="time" th:field="*{beginn}"
                   placeholder="Zeit-ab" class="form-control mb-4 col-4" >

            <input type="time" th:field="*{ende}"
                   placeholder="Zeit-bis" class="form-control mb-4 col-4" > </p>
            <br>

            <p>Betrifft: <select th:field="*{betrifft}">
                <option th:value="'Alle'" th:text="Alle"></option>
                <option th:value="'Mitarbeiter'" th:text="Mitarbeiter"></option>
                <option th:value="'Admin'" th:text="Admin"></option>
            </select> </p>


            <br>
            <button type="submit" class="btn btn primary">Speichern</button>
        </form>
    </div>
    <br>
</div>
<footer class="footer">
    <div class="footer-content">
        <h4>eManager - Mitarbeiterverwaltungssystem</h4>
        <br>
    </div>
</footer>
</body>
</html>
