<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wochenzettel</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/homepageUser.css'/>
</head>

<body>
<div align="center" style="background-color: #f48324">
  <h1 style="color: white">eManager</h1>
  <h2 style="color: white">Wochenzettel</h2>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/userverwaltung}">Mitarbeiter verwalten</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/wochenzettel}"><b>Wochenzettel</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href = "@{/admin/kalender}">Kalender</a>
      </li>
    </ul>
  </div>
</nav>
<div style="box-shadow: 0 5px 100px #f48324; border-radius: 10px;" align="center">
  <div class="container">
    <table width="60%" border=2 rules=rows cellpadding=15 cellspacing=15 class="data">
      <!--rules=rows; rules=cols-->
      <thead class="thead-dark">
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Addresse</th>
        <th scope="col">Zeit von</th>
        <th scope="col">Zeit bis</th>
        <th scope="col">Mitarbeiter</th>
        <th scope="col">Dauer</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="User : ${listDienste} ">

        <tr>
          <th scope="row" th:pattern="d">[[${#dates.format(Dienste.datumvon, 'dd.MMMyyyy')}]]</th>
          <td align=center>[[${Dienste.addresse}]]</td>
          <td align=center>[[${Dienste.zeitvon}]]</td>
          <td align=center>[[${Dienste.zeitbis}]]</td>
          <td align=center>[[${Dienste.mitarbeiter}]]</td>
          <td align=center>[[${Dienste.dauer}]]h</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  <br>
  <br>
</div>

<script type="text/javascript">
  document.getElementById("userverwaltung").onclick = function () {
    location.href = 'userverwaltung'
  }
</script>

</div>
</body>
</html>